### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

Patterns/src/CheckBox.java
Patterns/src/MainNO.java
Patterns/src/TextBox.java
Patterns/src/essentials